body {
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiP9P3Ai7XgAhW1HDQIHQlICiMQjRx6BAgBEAU&url=https%3A%2F%2Fdenisedaantos.wordpress.com%2F2015%2F12%2F31%2Fnight-market-japanese-street-foods%2F&psig=AOvVaw0ozSz-fV5KT9CTlOipOmUI&ust=1550022925925563");
}
h1{ 
color: Red;
text-align: center; 
}
h2{
color: Red;
text-align: center;
}
p{ 
text-align: center;
}